/*version 2*/
.container-fluid{
  background-color: #fafafa;
}
.topSpace {
  height: 40px;
  /*background-color: gray;*/
}
.main {
  height: 750px;
}
.imageBox{
  /*background-color: cyan;*/
}
.phoneImage {
  margin-left: 160px;
  margin-top: 40px;
}
.inputBoxSpace {
  height: 530px;
  /*background-color: blue;*/
  z-index: 2;
}
.inputBox {
  width: 350px;
  height: 528px;
  background-color: white;
  z-index: 1;
  border: 1px solid #e6e6e6;
}
.instagramLogo {
  width: 182px;
  height: 72px;
  margin-top: 19px;
}
h2 {
  margin-top: 0px;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  color: #999;
  font-weight: 600
}
.blueButton {
  background: #3897f0;
  border-color: #3897f0;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  font-size: 14px;
  font-weight: 600;
  line-height: 26px;
  width: 80%;
}
#facebookButton {
  background-image: url(./images/facebook-icon.png);
}
.buttonText {
  color: white;
}
.or {
  margin-top: 10px;
  font-size: 13px;
}
.inputForm {
  background-color: #fafafa;
  width: 80%;
  margin-top: 7px;
  border: 0;
  padding: 9px 0 7px 8px;
}
.signUp {
  margin-top: 15px;
}
h3 {
  text-align: center;
  font-size: 14px;
  color: #999;
}
.termsLink {
  color: #999;
}
.accountBoxSpace {
  height: 100px;
  /*background-color: green;*/
  z-index: 2;
}
.accountBox {
  margin-top: 10px;
  width: 350px;
  height: 70px;
  background-color: white;
  z-index: 1;
  border: 1px solid #e6e6e6;
}
.haveAccount {
  margin-top: 25px;
  color: #262626;
  font-size: 14px;
  text-align: center;
}
.logIn {
  color: #3897f0;
}
.getAppBoxSpace {
  height: 120px;
  width: 350px;
  /*background-color: gold;*/
}
.getAppBox {
  width: 350px;
}
.getAppText {
  text-align: center;
}
.storeBadge {
  width: 136px;
  height: 40px;
}
.appleBadge {
  margin-left: 40px;
}
.bottomSpace {
  height: 5px;
  /*background-color: gray;*/
}
.footer {
  height: 100px;
  /*background-color: yellow;*/
}
.footerLinks {
  color: #003569;
  text-decoration: none;
  font-weight: 500;
  margin-right: 10px;
  font-size: 12px;
}
.copyrightBox {
  float: right;
  color: #999;
  font-size: 12px;
  font-weight: 600;
}
